.hh1{
    font-size: 30px;
    padding: 10px;
}
.hh2{
    font-size: 20px;
    padding: 7px;
}
.hh3{
    font-size: 10px;
    padding: 5px;
}
.danger{
    font-size: 10px;
    padding: 5px;
    color: red;
}
.success{
    font-size: 10px;
    padding: 5px;
    color: green;
}